@import "../branding.scss";

.aboutUs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
}

.about-us-section {
  // border: red 2px solid;
  background-color: $ivory;
  width: 100%;

  .text {
    // display: grid;
    // grid-template: 10% 45% 45% / 100%;
    // grid-template-areas:
    //   "header"
    //   "text"
    //   "values";
    height: 50vh;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;

    h1 {
      grid-area: header;
      // padding-top: 8.5vh;
      // padding-bottom: 2.5vh;
      padding-left: 2.5vw;
    }

    h3 {
      padding-left: 2.5vw;
    }

    .text-container {
      grid-area: text;

      // p {
      //   line-height: 3vh;
      // }
    }

    .core-values-container {
      // padding: 5vh 10vw 5vh 10vw;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      grid-area: values;

      h2 {
        margin: 4vh;
      }

      .core-values-list-box {
        display: none;
      }

      .core-values-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 2.5vw;
        padding-right: 2.5vw;

        .checkmark-and-text {
          .img-container {
            .checkmark {
              height: 2.5vh;
            }
          }

          .text-container {
            padding-left: 0;
            height: 100%;
            h4 {
              //position: relative;
              // top: -10%;
              // transform: translateY(-50%);
              // -webkit-transform: translateY(-50%);
              // -ms-transform: translateY(-50%);
              //height: 2.5vh;
              margin-left: 1vw;
              // padding-left: 0;
              text-align: left;
              padding-left: 1.25vw;
              padding-right: 1.25vw;
              font-family: $primary-text-font;
            }
          }
        }
      }
    }
  }

  .about-us-img-container {
    //border: red 2px solid;
    height: 50vh;

    img {
      height: 50vh;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .aboutUs {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .core-values-list {
    display: none !important;
  }

  .core-values-list-box {
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 2.5vw;
    padding-right: 2.5vw;

    .checkmark-and-text {
      .img-container {
        .checkmark {
          height: 2.5vh;
        }
      }

      .text-container {
        padding-left: 0;
        height: 100%;
        width: 100%;
        h4 {
          //position: relative;
          // top: -10%;
          // transform: translateY(-50%);
          // -webkit-transform: translateY(-50%);
          // -ms-transform: translateY(-50%);
          //height: 2.5vh;
          margin-left: 1vw;
          font-size: 0.75em;
          // padding-left: 0;
          text-align: left;
          padding-left: 1.25vw;
          padding-right: 1.25vw;
        }
      }
    }
  }
}
