@import "../branding.scss";

.contact-us-section {
  // border: green 2px solid;
  background-color: $medium-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // width: 50vw;
  min-height: 50vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;

  .contact-us-flex {
    width: 55%;
    .contact-us-container {
      max-width: 30vw;
      h3 {
        padding-top: 3.5vh;
        font-size: 1.95em;
        padding-left: 2.5vw;
      }
      .contact-container {
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        height: 35vh;
        padding-top: 5vh;
        padding-bottom: 5vh;
        a {
          text-decoration: none;

          contact {
            //width: 20vw;

            img {
              height: 3.5vh;
            }

            h4 {
              position: relative;
              top: 2.5vh;
              transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              height: 2.5vh;
              text-decoration: none;
              color: $dark-grey;
            }
          }
        }
      }
    }
  }

  .map-size {
    .img-container {
      img {
        height: 100%;
        width: 75%;
        display: block;
        margin: auto;
        border-radius: 1.2em;
      }
    }

    // GoogleMapReact {
    //   max-height: 50vh;
    // }
  }
}

@media screen and (max-width: 1000px) {
  .contact-us-section {
    flex-direction: column;
    //height: 85vh;

    .contact-us-flex {
      width: 100%;
      .contact-us-container {
        max-width: 100vw;
        h3 {
          padding-left: 8.5vw;
        }
        .contact-container {
          padding-left: 8.5vw;
          padding-right: 8.5vw;
          a {
            contact {
              width: 100%;
              margin-top: 1.5vh;
              margin-bottom: 1.5vh;
            }
          }
        }
      }
    }

    .map-size {
      .img-container {
        img {
          height: 100%;
          width: 80%;
          display: block;
          margin: auto;
          border-radius: 1.2em;
          margin-top: 2.5vh;
          margin-bottom: 2.5vh;
        }
      }
    }
  }
}
