@import "../branding.scss";

.our-team-section {
  // border: blue 2px solid;
  width: 100%;
  background-color: $light-grey;
  min-height: 100vh;

  .text {
    display: grid;
    grid-template: 10% 90% / 100%;
    grid-template-areas:
      "header"
      "text";
    min-height: 50vh;
    //padding-top: 2.5vh;
    padding-bottom: 2.5vh;

    .header-container {
      grid-area: header;
      h1 {
        padding-left: 2.5vw;
      }
    }

    .text-container {
      grid-area: text;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      p {
        // line-height: 3vh;
        // text-align: center;
      }
    }
  }

  .our-team-img-container {
    // border: red 2px solid;
    min-height: 50vh;
    width: 100%;

    .img-container {
      text-align: center;
      width: 40vw;
      img {
        //height: 50vh;
        width: 70%;
        display: block;
        margin: auto;
        border-radius: 1.2em;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .our-team-section {
    .our-team-img-container {
      .img-container {
        width: 70vw;
        img {
          //width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .our-team-section {
    .our-team-img-container {
      .img-container {
        width: 55vw;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .our-team-section {
    .our-team-img-container {
      .img-container {
        width: 75vw;
      }
    }
  }
}
