@import "../branding.scss";

.photo-gallery-section {
  // border: purple 2px solid;
  background-color: $cream;
  min-height: 75vh;
  padding-top: 5vh;

  .photo-carousel {
    // border: orange 2px solid;
    min-height: 60vh;
    .slide {
      background-color: $cream;
    }
    .carousel-img-container {
      max-height: 60vh;
      background-color: $cream;
    }

    .carousel {
      .slide {
        img {
          width: auto !important;
          max-height: 55vh;
          max-width: 100vw;
        }
      }
    }
  }
}
