//Colour Scheme
$light-blue: #e1f5fe;
$ivory: #f3f4f0;
$grey: #cacfd2;

//Text Fonts
// $primary-text-font: "Georgia", serif;
$primary-text-font: "Roboto", sans-serif;
// $primary-text-font: "Big Shoulders Text", cursive;
$title-text-font: "Lora", serif;
