@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Pacifico&display=swap");

//Colour Scheme
$light-blue: #e1f5fe;
$ivory: #f3f4f0;
$grey: #cacfd2;
$light-grey: #e0e5e4;
$medium-grey: #cacaca;
$medium-grey2: #9a9fa0;
$dark-grey: #454849;
$brown: #88814469;
$black: #000;
$cream: #f7f9f1;

//Text Fonts
// $primary-text-font: "Georgia", serif;
$primary-text-font: "Montserrat", sans-serif;
// $primary-text-font: "Big Shoulders Text", cursive;
$title-text-font: "GFS Didot", serif;
$secondary-title-font: "Liu Jian Mao Cao", cursive;
// $secondary-title-font: "Pacifico", cursive;
