@import "./branding.scss";

.footer {
  // border: black 2px solid;
  background-color: $light-blue;
  display: grid;
  grid-template: 1fr 1fr 1fr / 3fr;
  grid-template-areas:
    "logo"
    "navBar"
    "mediaLinks";

  .logo-container {
    grid-area: logo;
    img {
      width: 70%;
    }
  }

  .footer-nav-container {
    // position: relative;
    // left: 37.5%;
    width: 40vw;
    margin: auto;
    grid-area: navBar;
    p {
      font-size: 0.75em;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .social-media-links-container {
    width: 10vw;
    margin: auto;
    grid-area: mediaLinks;
    .social-logo-container {
      a {
        img {
          height: 3vh;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .footer {
    .footer-nav-container {
      width: 80vw;
      p {
        font-size: 0.75em;
      }
    }

    .social-media-links-container {
      width: 20vw;
      .social-logo-container {
        a {
          img {
            height: 3vh;
          }
        }
      }
    }
  }
}
