@import "./branding.scss";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

//Import all other SCSS files
@import "./Homepage/service-section.scss";
@import "./forms.scss";

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-box-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-box-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-box-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-box-column-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.full-screen {
  height: 100vh;
}

.three-quarters-screen {
  height: 75vh;
}

.half-screen {
  min-height: 50vh;
}

.quarter-screen {
  height: 25vh;
}

.half-screen-width {
  width: 50vw;
}

.width-full {
  width: 100%;
}

.width75 {
  width: 75%;
}

.hidden {
  display: none;
}

.bottom-padding2vh {
  padding-bottom: 2vh;
}

.lrg-button {
  background-color: $ivory;
  border-style: solid;
  border-color: black;
  border-radius: 0.5em;
}

li {
  font-family: $primary-text-font;
}

text,
p {
  font-family: $primary-text-font;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  // line-break: 2.5vh;
  // text-justify: inter-word;
  text-align: left;
  line-height: 3.5vh;
}

label {
  font-family: $primary-text-font;
  text-align: left;
  margin: 1vh 3vw 0 3vw;
  font-size: 2vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-text-font;
  margin: 0;
  text-align: left;
}

h1 {
  font-size: 5vh;
}

h2 {
  font-size: 3.75vh;
}

h3 {
  font-size: 2.5vh;
}

h4 {
  font-size: 1.75vh;
}

.pointer {
  cursor: pointer;
}

.map-marker {
  height: 550px;
  width: 700px;
  border: red 2px solid;
  border-radius: 60%;
  background-color: whitesmoke;
  opacity: 0.3;
}

.map-marker-container {
  position: absolute;
  bottom: 50%;
  right: 50%;
  border: red 2px solid;
}

.flags-container {
  width: 100%;
  //padding-top: 4vh;
  position: absolute;
  z-index: 200;

  .language-choices-container {
    min-width: 10vw;
    float: right;
    background: whitesmoke;
    //padding: 1vh;
    border-radius: 0 0 1em 1em;

    .left {
      border-radius: 0 0 0 1em;
    }

    .right {
      border-radius: 0 0 1em 0;
    }

    .flag {
      cursor: pointer;
      width: 100%;
      text-align: center;
      padding: 1vh;
      background: $light-grey;

      h3 {
        font-size: 1.25em;
        text-align: center;
        color: $dark-grey;
      }
      img {
        max-height: 4vh;
      }
    }
  }
}

.button-lrg {
  font-family: $primary-text-font;
  padding: 1vh 1vw 1vh 1vw;
  border: none;
  border-radius: 0.5em;
  width: 25vw;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: $dark-grey;
  color: white;

  :hover {
    transform: scale(1.5);
    background-color: red;
  }
}

.checked {
  background: $dark-grey !important;
  h3 {
    color: $light-grey !important;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: $primary-text-font;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: $primary-text-font;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: $primary-text-font;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: $primary-text-font;
}

@media screen and (max-width: 1000px) {
  .contact-us {
    //max-height: 126vh;
  }
}

@media screen and (max-width: 800px) {
  .map-marker {
    height: 450px;
    width: 500px;
  }

  .map-marker-container {
    position: absolute;
    bottom: 50%;
    right: 50%;
  }
}
