@import "./branding.scss";

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.full-screen {
  height: 100vh;
}

.three-quarters-screen {
  height: 75vh;
}

.half-screen {
  height: 50vh;
}

.quarter-screen {
  height: 25vh;
}

.half-screen-width {
  width: 50vw;
}

.width-full {
  width: 100%;
}

.lrg-button {
  background-color: $ivory;
  border-style: solid;
  border-color: black;
  border-radius: 0.5em;
}

text,
p {
  font-family: $primary-text-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-text-font;
  margin: 0;
}

.pointer {
  cursor: pointer;
}
