@import "./branding.scss";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

//Import all other SCSS files
@import "./Homepage/service-section.scss";

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-box-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-box-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-box-column-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.full-screen {
  height: 100vh;
}

.three-quarters-screen {
  height: 75vh;
}

.half-screen {
  height: 50vh;
}

.quarter-screen {
  height: 25vh;
}

.half-screen-width {
  width: 50vw;
}

.width-full {
  width: 100%;
}

.lrg-button {
  background-color: $ivory;
  border-style: solid;
  border-color: black;
  border-radius: 0.5em;
}

text,
p {
  font-family: $primary-text-font;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  // line-break: 2.5vh;
  // text-justify: inter-word;
  text-align: justify;
  line-height: 3.5vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-text-font;
  margin: 0;
  text-align: justify;
}

h3 {
  font-size: 1.75rem;
}

.pointer {
  cursor: pointer;
}

.map-marker {
  height: 550px;
  width: 700px;
  border: red 2px solid;
  border-radius: 60%;
  background-color: whitesmoke;
  opacity: 0.3;
}

.map-marker-container {
  position: absolute;
  bottom: 50%;
  right: 50%;
  border: red 2px solid;
}

.flags-container {
  width: 100%;
  //padding-top: 4vh;
  position: absolute;
  z-index: 200;

  .language-choices-container {
    min-width: 10vw;
    float: right;
    background: whitesmoke;
    //padding: 1vh;
    border-radius: 0 0 1em 1em;

    .left {
      border-radius: 0 0 0 1em;
    }

    .right {
      border-radius: 0 0 1em 0;
    }

    .flag {
      cursor: pointer;
      width: 100%;
      text-align: center;
      padding: 1vh;
      background: $light-grey;

      h3 {
        font-size: 1.25em;
        text-align: center;
        color: $dark-grey;
      }
      img {
        max-height: 4vh;
      }
    }
  }
}

.checked {
  background: $dark-grey !important;
  h3 {
    color: $light-grey !important;
  }
}

@media screen and (max-width: 800px) {
  .map-marker {
    height: 450px;
    width: 500px;
  }

  .map-marker-container {
    position: absolute;
    bottom: 50%;
    right: 50%;
  }
}
